<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<p>
    <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Willst du den Article wirklich löschen?"} %>
    <%= link_to "Edit", edit_article_path(@article) %>
</p>
<br  />
<p>
    <%= link_to "<< Back to Articles List", articles_path %>
</p>